.hero-wrapper {
  width: 90%;
  min-height: 100%;
  margin-inline: auto;
  min-height: 70%;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;

  display: flex;

  transition: border-top-left-radius 0.7s ease;
  overflow: auto;
}

.text-section {
  width: 60%;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: left;
  justify-content: center;
  padding: 50px;

  font-size: 2rem;
}

.hello-word-wrapper {
  display: flex;
}

.hello-word {
  font-size: 5rem;
  display: flex;
  font-weight: bolder;
}

.hello-word:hover {
  text-decoration: underline;
}

.hii-emoji {
  font-size: 4rem;
  align-self: flex-start;
}

.name-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.name {
  padding-bottom: 1px;
}

.actual-name {
  font-size: 3rem;
  font-weight: bold;
}

.description {
  font-weight: 100 !important;
  font-family: "Permanent Marker", cursive;
  filter: drop-shadow(12px 8px 14px #000);
}
