.main-wrapper {
  width: 100vw;
  min-height: 100vh;

  background-color: white;
  color: black;

  position: absolute;
  overflow: hidden;
  z-index: 20;
  top: 0;
  right: 0;
  padding-left: 2rem;
  padding-top: 2rem;
  border-top-right-radius: 0;
  transition: top 0.7s ease, right 0.7s ease, border-top-right-radius 0.7s ease;
  -webkit-box-shadow: -10px -10px 28px -15px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -10px -10px 28px -15px rgba(0, 0, 0, 0.41);
  box-shadow: -10px -10px 28px -15px rgba(0, 0, 0, 0.41);
}
